@{
	Layout = "_Layout";
}

@using RecipeBox.Models;

@using (Html.BeginForm("Search", "Recipes"))
{
	@Html.Label("Find Recipes by ingredient")
	@Html.TextBox("query")
	<input type="submit" value="Search"/>
}

<h3>All recipes:</h3>

@Html.ActionLink("Sort by Rating", "Index", new {sortOrder = "rating"})
<br>
@Html.ActionLink("Sort by Name", "Index")

@if (Model.Count == 0)
{
	<p>There are no recipes in your recipe box!</p>
}
else
{
	<ul>
		@foreach (Recipe recipe in Model)
		{
			<li>@Html.ActionLink($"{recipe.Name}", "Details", new {id=recipe.RecipeId})</li>
		}
	</ul>
}

<p>@Html.ActionLink("Create a new Recipe", "Create")</p>
